
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><strong>Abortion</strong></td><td><strong>Taxes</strong></td><td><strong>Immigration</strong></td></tr>
<tr><td style="text-align:left"></td><td><strong>Model 1</strong></td><td><strong>Model 2</strong></td><td><strong>Model 3</strong></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Religiosity</td><td>-0.078<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.004)</td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>0.082<sup>***</sup></td><td>-0.050<sup>**</sup></td><td>-0.016</td></tr>
<tr><td style="text-align:left"></td><td>(0.010)</td><td>(0.022)</td><td>(0.023)</td></tr>
<tr><td style="text-align:left">Age</td><td>-0.001<sup>***</sup></td><td>-0.005<sup>***</sup></td><td>0.001</td></tr>
<tr><td style="text-align:left"></td><td>(0.0003)</td><td>(0.001)</td><td>(0.001)</td></tr>
<tr><td style="text-align:left">Education</td><td>0.025<sup>***</sup></td><td>-0.020<sup>***</sup></td><td>-0.060<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.003)</td><td>(0.007)</td><td>(0.008)</td></tr>
<tr><td style="text-align:left">Ideology</td><td>-0.038<sup>***</sup></td><td>0.040<sup>***</sup></td><td>0.038<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.004)</td><td>(0.008)</td><td>(0.009)</td></tr>
<tr><td style="text-align:left">Income</td><td>0.006</td><td>-0.061<sup>***</sup></td><td>-0.007</td></tr>
<tr><td style="text-align:left"></td><td>(0.005)</td><td>(0.010)</td><td>(0.011)</td></tr>
<tr><td style="text-align:left">Democrat</td><td>0.037<sup>***</sup></td><td>0.077<sup>***</sup></td><td>0.034</td></tr>
<tr><td style="text-align:left"></td><td>(0.012)</td><td>(0.026)</td><td>(0.028)</td></tr>
<tr><td style="text-align:left">Republican</td><td>-0.026<sup>**</sup></td><td>0.115<sup>***</sup></td><td>0.020</td></tr>
<tr><td style="text-align:left"></td><td>(0.013)</td><td>(0.027)</td><td>(0.029)</td></tr>
<tr><td style="text-align:left">General interest</td><td>0.008</td><td>0.079<sup>***</sup></td><td>-0.017</td></tr>
<tr><td style="text-align:left"></td><td>(0.006)</td><td>(0.013)</td><td>(0.014)</td></tr>
<tr><td style="text-align:left">General knowledge</td><td>0.001</td><td>-0.035<sup>**</sup></td><td>-0.053<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.007)</td><td>(0.015)</td><td>(0.016)</td></tr>
<tr><td style="text-align:left">TV news</td><td></td><td>-0.002</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.004)</td><td></td></tr>
<tr><td style="text-align:left">Newspapers</td><td></td><td>-0.017<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.004)</td><td></td></tr>
<tr><td style="text-align:left">Nonwhite</td><td></td><td></td><td>-0.015</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(0.030)</td></tr>
<tr><td style="text-align:left">Border state</td><td></td><td></td><td>0.021</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(0.026)</td></tr>
<tr><td style="text-align:left">Number of stories</td><td>-0.0001</td><td>0.00001</td><td>-0.021<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0002)</td><td>(0.0002)</td><td>(0.008)</td></tr>
<tr><td style="text-align:left">Number of stories lagged</td><td>0.0001</td><td>-0.00004</td><td>0.026<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0002)</td><td>(0.0001)</td><td>(0.010)</td></tr>
<tr><td style="text-align:left">Number of pro stories</td><td>0.001</td><td>-0.0004</td><td>0.032<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td><td>(0.001)</td><td>(0.010)</td></tr>
<tr><td style="text-align:left">Number of pro stories lagged</td><td>0.001</td><td>-0.001</td><td>-0.039<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td><td>(0.001)</td><td>(0.014)</td></tr>
<tr><td style="text-align:left">Constant</td><td>0.595<sup>***</sup></td><td>1.427<sup>***</sup></td><td>0.608<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.036)</td><td>(0.078)</td><td>(0.186)</td></tr>
<tr><td style="text-align:left">N</td><td>9405</td><td>9484</td><td>5134</td></tr>
<tr><td style="text-align:left">R-squared</td><td>0.079</td><td>0.022</td><td>0.053</td></tr>
<tr><td style="text-align:left">Adj. R-squared</td><td>0.078</td><td>0.021</td><td>0.051</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.479 (df = 9390)</td><td>1.007 (df = 9468)</td><td>0.787 (df = 5118)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>57.782<sup>***</sup> (df = 14; 9390)</td><td>14.247<sup>***</sup> (df = 15; 9468)</td><td>19.285<sup>***</sup> (df = 15; 5118)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td colspan="4" style="text-align:left"><sup>***</sup>p < .01; <sup>**</sup>p < .05; <sup>*</sup>p < .1</td></tr>
</table>
